html, body {
    padding: 0;
  }

  body {
    margin: var(--spacing-8) var(--spacing-10);
    overflow-x: hidden;
    background-color: var(--primary-10);
  }

img {
    max-width: 100%;
    display: block;
  }
