.spacing-under {
    margin-bottom: var(--spacing-5);
}

.spacing-block {
    padding-block: var(--spacing-8);
}

.margin-all-big {
    margin: var(--spacing-10);
}

.spacing-huge-top {
    margin-top: 8em;
}

.visually-hidden {
    display: none;
}