.grid {
    display: grid;
}

.grid__responsive {
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    gap: var(--spacing-8);
}

.grid__equal-rows {
    grid-auto-rows: 1fr; /* Force all rows to be equal height */
}