.navigation {
    --nav-padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: var(--shadow-normal);
}

.navigation-container {
    display: flex;
    align-items: center;
    background-color: var(--primary-0);
    padding-inline: var(--spacing-10);
    gap: 2em;

}

@media screen and (max-width: 500px) {
    :root {
      --spacing-10: 2em;
    }
  }

.navigation-logo {
    width: clamp(100px, 12vw, 150px);
}

.navigation-button {
    display: none;
}

.navigation-links {
 display: flex;
 gap: 2em;
}

.navigation-link {
    color: black;
    text-transform: uppercase;
}

.navigation-exit-button {
    display: none;
}

.navigation-button,
.navigation-exit-button {
    transition: all 0.2s ease-in-out;
}

.navigation-button:hover,
.navigation-button:focus-within,
.navigation-exit-button:hover,
.navigation-exit-button:focus-within {
    transform: scale(1.1);
}

/* Mobile */

@media (max-width: 760px) {
    .navigation-container {
        justify-content: space-between;
    }

    .navigation-links {
        flex-direction: column;
        gap: 0;
        background-color: var(--color-primary);
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(100%);
        backdrop-filter: blur(15px);

        transition: all 0.3s ease-in-out;
    }

    .navigation-links.active {
       display: flex;
       visibility: visible;
       opacity: 1;
        transform: translate(0);
    }

    .navigation-link {
        text-align: center;
        font-weight: var(--font-weight-bold);
        padding: 1em;
        border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
        
    }

    .navigation-button {
        display: block;
    }

    .navigation-exit-button {
        display: block;
        max-width: 48px;
        border: none;
        align-self: flex-end;
    }
}